/*cube animate*/
.turnLeft{
	-webkit-animation: turnLeft 1s;
	-moz-animation: turnLeft 1s;
	-o-animation: turnLeft 1s;
	animation: turnLeft 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight{
	-webkit-animation: turnRight 1s;
	-moz-animation: turnRight 1s;
	-o-animation: turnRight 1s;
	animation: turnRight 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp{
	-webkit-animation: turnUp 1s;
	-moz-animation: turnUp 1s;
	-o-animation: turnUp 1s;
	animation: turnUp 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown{
	-webkit-animation: turnDown 1s;
	-moz-animation: turnDown 1s;
	-o-animation: turnDown 1s;
	animation: turnDown 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes turnLeft {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(105deg);
		-ms-transform: rotateX(-15deg) rotateY(105deg);
		-o-transform: rotateX(-15deg) rotateY(105deg);
		transform: rotateX(-15deg) rotateY(105deg);
	 }
}
@-o-keyframes turnLeft {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(105deg);
		-ms-transform: rotateX(-15deg) rotateY(105deg);
		-o-transform: rotateX(-15deg) rotateY(105deg);
		transform: rotateX(-15deg) rotateY(105deg);
	 }
}
@-moz-keyframes turnLeft {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(105deg);
		-ms-transform: rotateX(-15deg) rotateY(105deg);
		-o-transform: rotateX(-15deg) rotateY(105deg);
		transform: rotateX(-15deg) rotateY(105deg);
	 }
}
@keyframes turnLeft {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(105deg);
		-ms-transform: rotateX(-15deg) rotateY(105deg);
		-o-transform: rotateX(-15deg) rotateY(105deg);
		transform: rotateX(-15deg) rotateY(105deg);
	 }
}
@-webkit-keyframes turnRight {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(-75deg);
		-ms-transform: rotateX(-15deg) rotateY(-75deg);
		-o-transform: rotateX(-15deg) rotateY(-75deg);
		transform: rotateX(-15deg) rotateY(-75deg);
	 }
}
@-o-keyframes turnRight {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(-75deg);
		-ms-transform: rotateX(-15deg) rotateY(-75deg);
		-o-transform: rotateX(-15deg) rotateY(-75deg);
		transform: rotateX(-15deg) rotateY(-75deg);
	 }
}
@-moz-keyframes turnRight {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(-75deg);
		-ms-transform: rotateX(-15deg) rotateY(-75deg);
		-o-transform: rotateX(-15deg) rotateY(-75deg);
		transform: rotateX(-15deg) rotateY(-75deg);
	 }
}
@keyframes turnRight {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(-75deg);
		-ms-transform: rotateX(-15deg) rotateY(-75deg);
		-o-transform: rotateX(-15deg) rotateY(-75deg);
		transform: rotateX(-15deg) rotateY(-75deg);
	 }
}
@-webkit-keyframes turnUp {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
	 }
}
@-o-keyframes turnUp {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
	 }
}
@-moz-keyframes turnUp {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
	 }
}
@keyframes turnUp {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(-90deg);
	 }
}
@-webkit-keyframes turnDown {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
	 }
}
@-o-keyframes turnDown {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
	 }
}
@-moz-keyframes turnDown {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
	 }
}
@keyframes turnDown {
	from { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg);
		 -ms-transform: rotateX(-15deg) rotateY(15deg);
		 -o-transform: rotateX(-15deg) rotateY(15deg);
		 transform: rotateX(-15deg) rotateY(15deg); 
	}
	to { 
		-webkit-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-ms-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		-o-transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
		transform: rotateX(-15deg) rotateY(15deg) rotateX(90deg);
	 }
}

.faceFlashing{
	-webkit-animation: flashing 1s;
	-o-animation: flashing 1s;
	animation: flashing 1s;
}
@-webkit-keyframes flashing {
	0% {  }
	50% { background-color: #0080FF; }
	100% {  }
}
@-o-keyframes flashing {
	0% {  }
	50% { background-color: #0080FF; }
	100% {  }
}
@-moz-keyframes flashing {
	0% {  }
	50% { background-color: #0080FF; }
	100% {  }
}
@keyframes flashing {
	0% {  }
	50% { background-color: #0080FF; }
	100% {  }
}

.turnUp0{
	-webkit-animation: turnUp0 1s;
	-moz-animation: turnUp0 1s;
	-o-animation: turnUp0 1s;
	animation: turnUp0 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp1{
	-webkit-animation: turnUp1 1s;
	-moz-animation: turnUp1 1s;
	-o-animation: turnUp1 1s;
	animation: turnUp1 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp2{
	-webkit-animation: turnUp2 1s;
	-moz-animation: turnUp2 1s;
	-o-animation: turnUp2 1s;
	animation: turnUp2 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp3{
	-webkit-animation: turnUp3 1s;
	-moz-animation: turnUp3 1s;
	-o-animation: turnUp3 1s;
	animation: turnUp3 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp4{
	-webkit-animation: turnUp4 1s;
	-moz-animation: turnUp4 1s;
	-o-animation: turnUp4 1s;
	animation: turnUp4 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnUp5{
	-webkit-animation: turnUp5 1s;
	-moz-animation: turnUp5 1s;
	-o-animation: turnUp5 1s;
	animation: turnUp5 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight0{
	-webkit-animation: turnRight0 1s;
	-moz-animation: turnRight0 1s;
	-o-animation: turnRight0 1s;
	animation: turnRight0 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight1{
	-webkit-animation: turnRight1 1s;
	-moz-animation: turnRight1 1s;
	-o-animation: turnRight1 1s;
	animation: turnRight1 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight2{
	-webkit-animation: turnRight2 1s;
	-moz-animation: turnRight2 1s;
	-o-animation: turnRight2 1s;
	animation: turnRight2 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight3{
	-webkit-animation: turnRight3 1s;
	-moz-animation: turnRight3 1s;
	-o-animation: turnRight3 1s;
	animation: turnRight3 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight4{
	-webkit-animation: turnRight4 1s;
	-moz-animation: turnRight4 1s;
	-o-animation: turnRight4 1s;
	animation: turnRight4 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnRight5{
	-webkit-animation: turnRight5 1s;
	-moz-animation: turnRight5 1s;
	-o-animation: turnRight5 1s;
	animation: turnRight5 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown0{
	-webkit-animation: turnDown0 1s;
	-moz-animation: turnDown0 1s;
	-o-animation: turnDown0 1s;
	animation: turnDown0 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown1{
	-webkit-animation: turnDown1 1s;
	-moz-animation: turnDown1 1s;
	-o-animation: turnDown1 1s;
	animation: turnDown1 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown2{
	-webkit-animation: turnDown2 1s;
	-moz-animation: turnDown2 1s;
	-o-animation: turnDown2 1s;
	animation: turnDown2 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown3{
	-webkit-animation: turnDown3 1s;
	-moz-animation: turnDown3 1s;
	-o-animation: turnDown3 1s;
	animation: turnDown3 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown4{
	-webkit-animation: turnDown4 1s;
	-moz-animation: turnDown4 1s;
	-o-animation: turnDown4 1s;
	animation: turnDown4 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnDown5{
	-webkit-animation: turnDown5 1s;
	-moz-animation: turnDown5 1s;
	-o-animation: turnDown5 1s;
	animation: turnDown5 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft0{
	-webkit-animation: turnLeft0 1s;
	-moz-animation: turnLeft0 1s;
	-o-animation: turnLeft0 1s;
	animation: turnLeft0 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft1{
	-webkit-animation: turnLeft1 1s;
	-moz-animation: turnLeft1 1s;
	-o-animation: turnLeft1 1s;
	animation: turnLeft1 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft2{
	-webkit-animation: turnLeft2 1s;
	-moz-animation: turnLeft2 1s;
	-o-animation: turnLeft2 1s;
	animation: turnLeft2 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft3{
	-webkit-animation: turnLeft3 1s;
	-moz-animation: turnLeft3 1s;
	-o-animation: turnLeft3 1s;
	animation: turnLeft3 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft4{
	-webkit-animation: turnLeft4 1s;
	-moz-animation: turnLeft4 1s;
	-o-animation: turnLeft4 1s;
	animation: turnLeft4 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.turnLeft5{
	-webkit-animation: turnLeft5 1s;
	-moz-animation: turnLeft5 1s;
	-o-animation: turnLeft5 1s;
	animation: turnLeft5 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes turnUp0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-webkit-keyframes turnUp1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-webkit-keyframes turnUp2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-webkit-keyframes turnUp3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #646768;
	}
}
@-webkit-keyframes turnUp4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-webkit-keyframes turnUp5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-o-keyframes turnUp0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-o-keyframes turnUp1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-o-keyframes turnUp2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-o-keyframes turnUp3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #646768;
	}
}
@-o-keyframes turnUp4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-o-keyframes turnUp5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-moz-keyframes turnUp0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-moz-keyframes turnUp1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-moz-keyframes turnUp2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-moz-keyframes turnUp3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #646768;
	}
}
@-moz-keyframes turnUp4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-moz-keyframes turnUp5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@keyframes turnUp0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@keyframes turnUp1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@keyframes turnUp2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@keyframes turnUp3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #646768;
	}
}
@keyframes turnUp4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@keyframes turnUp5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-webkit-keyframes turnRight0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #888888;
	}
}
@-webkit-keyframes turnRight1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-webkit-keyframes turnRight2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-webkit-keyframes turnRight3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-webkit-keyframes turnRight4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #646768;
	}
}
@-webkit-keyframes turnRight5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #000000;
	}
}
@-o-keyframes turnRight0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #888888;
	}
}
@-o-keyframes turnRight1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-o-keyframes turnRight2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-o-keyframes turnRight3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-o-keyframes turnRight4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #646768;
	}
}
@-o-keyframes turnRight5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #000000;
	}
}
@-moz-keyframes turnRight0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #888888;
	}
}
@-moz-keyframes turnRight1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-moz-keyframes turnRight2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-moz-keyframes turnRight3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-moz-keyframes turnRight4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #646768;
	}
}
@-moz-keyframes turnRight5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #000000;
	}
}
@keyframes turnRight0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #888888;
	}
}
@keyframes turnRight1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@keyframes turnRight2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@keyframes turnRight3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@keyframes turnRight4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #646768;
	}
}
@keyframes turnRight5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #000000;
	}
}
@-webkit-keyframes turnDown0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-webkit-keyframes turnDown1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #646768;
	}
}
@-webkit-keyframes turnDown2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-webkit-keyframes turnDown3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-webkit-keyframes turnDown4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-webkit-keyframes turnDown5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-o-keyframes turnDown0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-o-keyframes turnDown1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #646768;
	}
}
@-o-keyframes turnDown2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-o-keyframes turnDown3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-o-keyframes turnDown4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-o-keyframes turnDown5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-moz-keyframes turnDown0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-moz-keyframes turnDown1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #646768;
	}
}
@-moz-keyframes turnDown2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@-moz-keyframes turnDown3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-moz-keyframes turnDown4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@-moz-keyframes turnDown5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@keyframes turnDown0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@keyframes turnDown1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #646768;
	}
}
@keyframes turnDown2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #000000;
	}
}
@keyframes turnDown3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@keyframes turnDown4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #888888;
	}
}
@keyframes turnDown5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-webkit-keyframes turnLeft0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #000000;
	}
}
@-webkit-keyframes turnLeft1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-webkit-keyframes turnLeft2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #646768;
	}
}
@-webkit-keyframes turnLeft3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-webkit-keyframes turnLeft4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-webkit-keyframes turnLeft5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #888888;
	}
}
@-o-keyframes turnLeft0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #000000;
	}
}
@-o-keyframes turnLeft1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-o-keyframes turnLeft2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #646768;
	}
}
@-o-keyframes turnLeft3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-o-keyframes turnLeft4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-o-keyframes turnLeft5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #888888;
	}
}
@-moz-keyframes turnLeft0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #000000;
	}
}
@-moz-keyframes turnLeft1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@-moz-keyframes turnLeft2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #646768;
	}
}
@-moz-keyframes turnLeft3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@-moz-keyframes turnLeft4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@-moz-keyframes turnLeft5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #888888;
	}
}
@keyframes turnLeft0 {
	0% { 
		background-color: #FFFFFF;
	}
	100% { 
		background-color: #000000;
	}
}
@keyframes turnLeft1 {
	0% { 
		background-color: #D5D5D5;
	}
	100% { 
		background-color: #D5D5D5;
	}
}
@keyframes turnLeft2 {
	0% { 
		background-color: #000000;
	}
	100% { 
		background-color: #646768;
	}
}
@keyframes turnLeft3 {
	0% { 
		background-color: #1C1C1C;
	}
	100% { 
		background-color: #1C1C1C;
	}
}
@keyframes turnLeft4 {
	0% { 
		background-color: #888888;
	}
	100% { 
		background-color: #FFFFFF;
	}
}
@keyframes turnLeft5 {
	0% { 
		background-color: #646768;
	}
	100% { 
		background-color: #888888;
	}
}

