.bg_black{
	background-color: #000000;
}
.bg_grey{
	background-color: #776E65;
}
.bg_paleGrey{
	background-color: #E0DCD8;
}
.bg_lightGrey{
	background-color: #B1AAA3;
}
.bg_white{
	background-color: #FFFFFF;
}
.bg_paleBrown{
	background-color: #EEE4DA;
}
.bg_yellow{
	background-color: #EDC22E;
}
.bg_lightYellow{
	background-color: #F3D774;
}
.bg_paleYellow{
	background-color: #ede0c8;
}
.bg_mediumYellow{
	background-color: #edcc61;
}
.bg_greyYellow{
	background-color: #8f7a66;
}
.bg_lightOrange{
	background-color: #f2b179;
}
.bg_Orange{
	background-color: #f65e3b;
}
.bg_lightRed{
	background-color: #F48679;
}