.black{
	background-color: #000000;
}
.white{
	background-color: #FFFFFF;
}
.pale-yellow{
	background-color: #EEE4DA;
}
.light-yellow{
	background-color: #F3D774;
}
.grey{
	background-color: #776E65;
}
.yellow{
	background-color: #EDC22E;
}
.light-red{
	background-color: #F48679;
}