.cube-container{
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	width: 600px;
/*	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
*/	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-perspective: 3000px;
	-moz-perspective: 3000px;
	-ms-perspective: 3000px;
	perspective: 3000px;
}
.cube{
	position: relative;
	width: 400px;
	height: 400px;
	margin: auto auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-15deg) rotateY(15deg);
	-ms-transform: rotateX(-15deg) rotateY(15deg);
	-o-transform: rotateX(-15deg) rotateY(15deg);
	transform: rotateX(-15deg) rotateY(15deg);
}
.cube-face{
	width: 400px;
	height: 400px;
	position: absolute;
	border-style: solid;
	border-color: #797E82;
	border: 1px;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);	
}
.cube-u{
	-webkit-transform: rotateX(90deg) translateZ(200px);
	-ms-transform: rotateX(90deg) translateZ(200px);
	-o-transform: rotateX(90deg) translateZ(200px);
	transform: rotateX(90deg) translateZ(200px);
}
.cube-d{
	-webkit-transform: rotateX(-90deg) translateZ(200px);
	-ms-transform: rotateX(-90deg) translateZ(200px);
	-o-transform: rotateX(-90deg) translateZ(200px);
	transform: rotateX(-90deg) translateZ(200px);
}
.cube-l{
	-webkit-transform: rotateY(-90deg) translateZ(200px);
	-ms-transform: rotateY(-90deg) translateZ(200px);
	-o-transform: rotateY(-90deg) translateZ(200px);
	transform: rotateY(-90deg) translateZ(200px);
}
.cube-r{
	-webkit-transform: rotateY(90deg) translateZ(200px);
	-ms-transform: rotateY(90deg) translateZ(200px);
	-o-transform: rotateY(90deg) translateZ(200px);
	transform: rotateY(90deg) translateZ(200px);
}
.cube-f{
	-webkit-transform: translateZ(200px);
	-ms-transform: translateZ(200px);
	-o-transform: translateZ(200px);
	transform: translateZ(200px);
}
.cube-b{
	-webkit-transform: rotateY(180deg) translateZ(200px);
	-ms-transform: rotateY(180deg) translateZ(200px);
	-o-transform: rotateY(180deg) translateZ(200px);
	transform: rotateY(180deg) translateZ(200px);
}

.bg_front{
	background-color: #FFFFFF;
}
.bg_up{
	background-color: #D5D5D5;
}
.bg_right{
	background-color: #000000;
}
.bg_down{
	background-color: #1C1C1C;
}
.bg_left{
	background-color: #888888;
}
.bg_back{
	background-color: #646768;
}